html 
    head 
        title Inicio de sesi칩n
        link(rel="stylesheet", href="login.css")
    body 
        div.formulario
            form(action="/login", method="post") 
                a(href="/") Volver al inicio 
                h2 Iniciar sesi칩n
                input(type="text" placeholder="Nombre" id="nombre" name="username" required)
                input(type="password" placeholder="Contrase침a" id="contrase침a" name="password" required)
                input(type="submit", value="Log In" id="login")